

{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block service_name %}

{% endblock %}

{% block content %}


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">
        <div class="phase-banner">
        <p>
          <strong class="phase-tag">prototype</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>
    </div>
    <div class="column-two-thirds">
      <div class="breadcrumbs">
                    <ol>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Pensions</a></li>
                    </ol>
                  </div>
      <h1 class="heading-xlarge">
        Pension Tool
  <!--      <span class="heading-secondary">v0.0.1</span> -->
      </h1>

      </p><section class="intro">
    <div class="get-started-intro">
<p>Your State Pension age is the earliest age you can start receiving your State Pension. It may be different to the age you can get a <a href="/early-retirement-pension/personal-and-workplace-pensions">workplace or personal pension</a>.  </p>

<p>Your State Pension age is worked out based on your gender and date of birth. </p>

<p>You can <a href="/working-retirement-pension-age">keep working after you reach State Pension age</a>. ‘Default retirement age’ (a forced retirement age of 65) no longer exists.</p>
<div class="panel panel-border-wide">
<div role="note" aria-label="Information" class="application-notice info-notice">
<p><a href="/government/news/proposed-new-timetable-for-state-pension-age-increases">The State Pension age is under review</a> and may change in the future.</p>
</div>

</div>
      <div>
      <a class="button button-start" href="page2.html" role="button">Start now</a>
      </div>
      <br>
      <p>Use this tool to check: </p>

      <ul>
        <ul class="list list-bullet">
        <li>when you’ll reach State Pension age</li>
        <li>your Pension Credit qualifying age</li>
        <li>A tool that lets people play with scenarios</li>
      </ul>





					</a>
				</li>
			</ul>

    </div>
  </div>

  <div class="column-third">

{% block sidebar %}
    <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-medium" id="subsection-title">Pensions</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
          <li><a href="#">Link to page</a></li>
          <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Link to page</span></a></li>
        </ul>
      </nav>
      <h2 class="heading-medium" id="subsection-title">Elsewhere on GOV.UK</h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
          <li>
            <a href="#">Link to page</a>
          </li>
          <li><a href="#">Link to page</a></li>
        </ul>
      </nav>


    </aside>
{% endblock %}
  </div>

</main>

{% endblock %}
