{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">prototype</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>


        <div class="grid-row">
          <div class="column-two-thirds">
            <div class="breadcrumbs">
              <ol>
                <li><a href="/">index</a></li>
                <li><a href="/"></a></li>
              </ol>
            </div>
            <form action="/docs/examples/over-18" method="get" class="form">

              <h1 class="heading-xlarge">
                Your Pension
              </h1>

              <p>
                The State Pension age is under review</a> and may change in the future.
              </p>



<!-- Gender -->
              <h2 class="heading-medium">
                Your gender?
              </h2>

              <div class="form-group">
                <fieldset class="inline">

                  <legend class="visuallyhidden">Your Gender?</legend>

                  <div class="multiple-choice">
                    <input id="over18True" type="radio" name="over18" value="true">
                    <label for="over18True">Female</label>
                  </div>

                  <div class="multiple-choice">
                    <input id="over18False" type="radio" name="over18" value="false">
                    <label for="over18False">Male</label>
                  </div>
                  <br><br>
                  <div class="form-group">
                    <details>
                      <summary><span class="summary">Why do you need to know my gender?</span></summary>
                      <div class="panel panel-border-narrow">
                        <p>
                          To calculate your State Pension age.
                        </p>
                        <p>

                        </p>
                      </div>
                    </details>
                  </div>

<!-- Date of birth -->
              <div class="form-group">
                <fieldset>
                  <legend>
                    <h1 class="heading-medium">
                      What is your date of birth?
                      <h1/>
                    </span>
                    <span class="form-hint">For example, 31 03 1980</span>
                  </legend>
                  <div class="form-date">
                    <div class="form-group form-group-day">
                      <label class="form-label" for="dob-day">Day</label>
                      <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
                    </div>
                    <div class="form-group form-group-month">
                      <label class="form-label" for="dob-month">Month</label>
                      <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                    </div>
                    <div class="form-group form-group-year">
                      <label class="form-label" for="dob-year">Year</label>
                      <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="form-group">
                <details>
                  <summary><span class="summary">Help with date of birth</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>
                      If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).
                    </p>
                    <p>

                    </p>
                  </div>
                </details>
              </div>
<!-- retirement age -->
          <div class="form-group">
            <legend>
              <h1 class="heading-medium">
                Desired retirement age
              </h1>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dob-day">Age</label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="150">
              </div>
          </div></div>
<!-- Expenses -->
          <div class="form-group">
            <legend>
              <h1 class="heading-medium">
                Monthly Expenses (£)
              </h1>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">

                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="100000">
              </div></div></div>
              <div class="form-group">
                <details>
                  <summary><span class="summary">What do expenses cover?</span></summary>
                  <div class="panel panel-border-narrow">
                    <p>
                      Expenses you had while being employed may still be incurring after retirement. Are you expecting to be renting or own your own home by the time you retire?
                    </p>
                    <p>
                      </div></div>
                      <!-- variable sample -->
                          <h1 class="heading-medium">
                            Variable
                          </h1>
                      <div class="form-group">
          <label class="form-label" for="select-box">Example of things affecting the outcome.</label>
          <select class="form-control" id="select-box" name="select-box">
            <option>Variable option 1</option>
            <option>Variable option 2</option>
            <option>Variable option 3</option>
          </select>
          <!-- Other income -->
                    <div class="form-group">
                      <legend>
                        <h1 class="heading-medium">
                          Other Incomes (£)
                        </h1>
                      </legend>
                      <div class="form-date">
                        <div class="form-group form-group-day">
                          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="100000">
                        </div></div></div>
                        <div class="form-group">
                          <details>
                            <summary><span class="summary">What are other incomes?</span></summary>
                            <div class="panel panel-border-narrow">
                              <p>
                                Pension pots, propertie, contributions, etc. To check how much your contributions are, you can look at a recent payslip or speak to your HR contact. If you are self-employed, check your bank statement or contact the pension provider.
                              </p>
                              <p>
                                </div></div>
        </div></div></div>
<!-- button -->
                    </p>  </div></div></div>
          <br>
              <div class="form-group">
                <input type="submit" class="button" value="Continue">
              </div>

            </form>

          </div>
        </div>
      </main>
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
